
.rectangle {
    width: 100%;
    height: 100%;
    background-color:  #8ab2a7;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px; 
    box-sizing: border-box; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 0; 
    margin: 0;
    height: 50px; 
    box-sizing: border-box; 
    border-radius: 20px; 
}

th .rectangle {
    background-color: #8ab2a7; 
}

th {
    background-color: #f2f2f2;
    border-radius: 5px; 
}

